-if users.blank?
  Žiadny
- else
  %table
    %tr
      %th Meno
      - if can? :read, User
        %th
    - users.each do |user|
      %tr.tleft
        %td= user.username.capitalize
        -if can? :read, User
          %td= link_to 'Zobraziť'