%h1 Audity

- if @audits.nil?
  Neobsahuje ziadne zaznamy
- else

  %table

    %tr
    - Audit.column_names.each do |column|
      %th= column.humanize

    - @audits.each do |audit|
      %tr
      - audit.attributes.keys.each do |attribute|
        %td= audit.attributes[attribute].to_s