%h1 Transactions#show
%p Find me in app/views/transactions/show.html.haml

%table.show
  - @transaction.attributes.keys.each do |attribute|
    %tr
      %th= attribute.humanize
      %td= @transaction.attributes[attribute].to_s

%p
  = link_to 'Back', transactions_path
     