= f.input :start_at#, as: 'string', input_html: { class: 'datepicker_locked_at' }
= f.input :end_at#, as: 'string', input_html: { class: 'datepicker_locked_at' }
= f.input :team_fee
= f.input :player_fee
