= f.input :start_at, label: 'Dátum konania'#, as: 'string', input_html: { class: 'datepicker_locked_at' }
= f.input :player_fee, label: 'Cena za hráča', hint: 'Suma ktorú musí zaplatiť hráč ( účasť na tréningu )'
= f.input :total_price, label: 'Celková cena', hint: 'Suma ktorú platí team ( prenájom haly, ihriska )'

