= f.input :start_at, label: 'Date'#, as: 'string', input_html: { class: 'datepicker_locked_at' }
= f.input :player_fee, hint: 'Suma ktorú musí zaplatiť hráč ( účasť na tréningu )'
= f.input :total_price, hint: 'Suma ktorú platí team ( prenájom haly, ihriska )'
