%h1 Participation

%table.center
  %tr
    %th
    - @expenses.each do |expense|
      %th.p11n-date
        %div= expense.id
  - @users.each do |user|
    %tr
      %th= user.username
      - @expenses.each do |expense|
        %td.tcenter
          - if expense.users.find_by_id(user.id).nil?
            .p11n.do_add
              = button_to '+', participation_path(expense.id, user.id), method: :post, remote: true
          - else
            .p11n.do_delete
              = button_to '-', participation_path(expense.id, user.id), method: :delete, remote: true
